*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


/* Font family */

@font-face {
    font-family: 'Avenir';
    src: url('../fonts/Avenir-Black.eot');
    src: url('../fonts/Avenir-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Avenir-Black.woff2') format('woff2'),
        url('../fonts/Avenir-Black.woff') format('woff'),
        url('../fonts/Avenir-Black.ttf') format('truetype'),
        url('../fonts/Avenir-Black.svg#Avenir-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url('../fonts/Avenir-Medium.eot');
    src: url('../fonts/Avenir-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Avenir-Medium.woff2') format('woff2'),
        url('../fonts/Avenir-Medium.woff') format('woff'),
        url('../fonts/Avenir-Medium.ttf') format('truetype'),
        url('../fonts/Avenir-Medium.svg#Avenir-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir-Book';
    src: url('../fonts/Avenir-Book.eot');
    src: url('../fonts/Avenir-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Avenir-Book.woff2') format('woff2'),
        url('../fonts/Avenir-Book.woff') format('woff'),
        url('../fonts/Avenir-Book.ttf') format('truetype'),
        url('../fonts/Avenir-Book.svg#Avenir-Book') format('svg');
    font-weight: normal;
    font-style: normal;
}


/*------ Commont Styles ------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
body {
    line-height:1;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display:block;
}
nav ul {
    list-style:none;
}
 
 
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}


input, select {
    vertical-align:middle;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

body, html {
    height:100%;
    width:100%;
}
body {
    font-size:14px;
    font-family: 'Avenir';
    color:#073774;
    background: #fff;    
}
a {
  outline: none;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
 

img {
    max-width:100%;
    height:auto;
}

.btn {
  border: 0;
  border-radius: 0;
  box-shadow: none;
  color: #fff;  
}
.btn:focus, .btn:active {
  border: 0;
  border-radius: 0;
  box-shadow: none
}

/*------ Commont Styles ------*/


/* Header */

.header-top {
  background: #073774;
  height: 90px;
  display: flex;
  align-items: center;  
}

.logo {
  width: 250px;
  padding-top: 25px;
}

.logo-right {
  width: 70px;
}

.header-bot {
  background: #40b4e5;
  height: 65px;  
  border-bottom: 5px solid #073774;
}

.header-bot .btn {
  background: #fff;
  height: 60px;
  color: #073774;
  font-size: 18px;
  padding: 22px 30px;
  border-radius: 0;
}


/* Navigation */
.navbar-default {
  background: none;
  padding: 0;
  margin: 0;
  border: none;
  box-shadow: none;
}
.navbar-collapse {
  padding: 0;
}
.navbar-default .navbar-nav > li > a {
  color: #fff;
  font-size: 14px;
  padding-top: 25px;
  font-weight: bold;
}
.navbar-default .navbar-nav li:first-child a {
  padding-left:0;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background: none;
  color: #073774;
}

.nav {
  background: url(../images/home-icon.png) no-repeat;
  background-size: 30px;
  background-position: 0 15px;
  padding-left:50px  
}

/* Wrapper */
.wrapper {
  width: 100%;
  min-height: 100%;
  clear: both;
}

/* Slider */
.slider {
  background: #01305b;
  border-bottom: 5px solid #40b4e5;
  height: 355px;  
}
.carousel-control:hover, .carousel-control:focus, .carousel-control.left, .carousel-control.right {
  background: none;
}

.glyphicon-chevron-left:before, .glyphicon-chevron-right:before {
  content: "";
  border: none;
  background: none;
}

.carousel-indicators li {
  background: url(../images/unactive.png) no-repeat;
  border: none;
  width: 17px;
  height: 17px;
  border-radius: 0;
  background-size: 100%;
}
.carousel-indicators li.active {
  background: url(../images/active.png) no-repeat;
  background-size: 100%; 
  width: 17px;
  height: 17px;
}
.carousel-inner .item img {
  height: 350px;
}
.carousel-caption {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 5%;
  padding-left: 10%;
}
.carousel-caption h3 {
  color: #fff;
  font-size: 35px;  
  text-align: left;
}
.carousel-caption p {
  color: #fff;
  font-size: 15px;  
  text-align: left;
}
.carousel-indicators {
  left: 0;
  margin: 0 0 0 -17%;
}




/* Welcome */
.welcome {
  background: #052349 url(../images/welcome-bg.jpg) no-repeat;
  background-size: cover;
  position: relative;
  padding-bottom: 50px;

}
.ask-questions {
  width: 75px;
  position: absolute;
  top:15%;
  right: 0;
}
.ask-questions img {
  width: 75px;
}

.content {
  text-align: center;
  width: 50%;
  margin: 0 auto;
}

.content h2 {
  color: #fff;
  font-size: 24px;
  margin: 50px 0 30px;
}


.content p {
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  margin: 0 0 15px 0;
}

.inner-box {
  clear: both;
  width: 100%;
  padding-top:50px;
}

.inner-box ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-box li {
  width: 300px;
  height: 225px;
  background: #00457c;
  float: left;
  margin-right:30px;
  padding: 30px 30px 0 30px;
  position: relative;
}
.inner-box li h3 {
  color: #fff;
  font-size: 16px;
  margin: 20px 0;
  text-transform: uppercase;
  font-weight: 700;
}
.inner-box li:nth-child(2) {  
  background: #00b287;
}
.inner-box li:nth-child(2) h3  {  
  color: #052349;
}

.inner-box li:last-child {  
  margin-right:0;
}
.inner-box li img {
  width: 60px;
  height: 60px;
}
.inner-box li .btn {  
  background: #e55a1d url(../images/arrow.png) no-repeat;
  background-position: 120px 15px;
  background-size: 20px;
  color: #fff;
  font-size: 14px;
  height: 40px;
  text-align: left;
  border: none;
  border-radius: 0;
  box-shadow: none;
  width: 150px;
  position: absolute;
  bottom: 0;
  right: 0;
}
.inner-box li .btn:focus, .inner-box li .btn:active  {  
  border: none;
  border-radius: none;
  box-shadow: none;
  outline: none;
}



/* Register */
.register {
  background: #fff;
  border-top: 30px solid #00b287;
  border-bottom: 30px solid #00b287;
  padding: 20px 0;
  margin: 50px 0 0;
}


.register h4 {
  color: #073774;
  font-size: 35px;
  margin: 0;
  padding-top:10px;
  text-align: right;
}

.register p {
  color: #073774;
  font-size: 16px;
  padding-top:5px;
}

.register .btn {
  color: #fff;
  font-size: 16px;
  margin: 0;
  background: #e55a1d;
  padding: 11px 11px 10px 11px;
  width: 150px;
  height: 40px;
}


/* Footer  */
footer {
  clear: both;
  width: 100%;   
  background: #052349 url(../images/footer-bg.jpg) repeat-y;
  background-size: contain;
}
footer .left {
   
}

footer .right { 
  background: #fff;
  padding: 0;
}

.footer-nav {
  display: flex;
  flex-direction: column-reverse;
  padding-top:30px;
}
.footer-nav li {
  float: left;
  margin-right: 20px;
}

.footer-nav li:last-child {  
  margin-right: 0;
}

.footer-nav li a {
  color: #fff;
  font-size: 12px;
}
.footer-nav .footer-logo p {
  font-size: 11px;
  color: #fff;
  margin-top: 20px;
}
.footer-nav .footer-logo p span {
  float: right;
}

/* Tablet */

@media (min-width: 768px) and (max-width: 1024px) {
  .header-bot .btn {
    padding: 22px 15px; 
  }  
  .navbar-default .navbar-nav > li > a {
    font-size: 14px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .header-bot .btn {
    font-size: 16px;
  }
  .navbar-default .navbar-nav > li > a {
    font-size: 13px;
  }
  .content {
    width: 80%;
  }
  .ask-questions {
    top: 5%;
    width: auto;
  }
  .ask-questions img {
    width: 40px;
  }
  .footer-logo .logo {
    width: 150px;
  }
  .footer-nav li a {
    font-size: 10px;
  }
   .footer-nav .footer-logo p {
    font-size: 8px;
  }
    
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
   .header-bot .btn {
    padding: 22px 15px;
    font-size: 12px;
  }  
    
  .navbar-default .navbar-nav > li > a {
    font-size: 9px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .register h4 {
    font-size: 25px;
    padding-top:20px;
  }
  .footer-nav li a {
    font-size: 8px;
  }
  .footer-nav .footer-logo p {
    font-size: 6px;
    padding-bottom: 10px;
  }
  footer .right {
    padding-top:20px;
  }
  
}


/* Moblie */

@media (max-width: 767px) {
    .container {
      width: 100%;
    }
    .header-bot { 
      border-bottom: 0;
      height: 50px;
    }
    .hamburger {
      width: 35px;
      margin-right: 10px;
    }
    .navbar-default .navbar-toggle {
      border:0;
      border-radius: 0;
    }
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
      background: none;
    }
     
    .header-bot .navbar-toggle {
      font-size: 16px;
      text-transform: uppercase;
      color: #fff;
      display: flex;
      align-items: center;
      margin: 0;
      float: left;
    }
    .nav {
      background: #073774;
      margin: 0 0 0 0;
      padding: 15px 0 0 0;
    }
    .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
      color: #fff;
    }
    .navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav li:first-child a {
      padding: 0 15px 15px 15px;
    }
    .pad {
      padding: 0;
    }
    .slider {
      height: 315px;
    }
    .carousel-inner .item img {
      height: 310px;
    }
    .slider .container {
      padding: 0;
    }
    .carousel-caption {
      width: 100%;
    }
    .carousel-caption h3 {
      text-align: center;
    }
    .carousel-caption p {
      text-align: center;
    }
    .carousel-indicators {
      left: inherit;
      margin: 0;
      bottom: -50px;
      width: 100%;
    }
    .welcome {
      background: #052349;  
      padding-bottom: 30px;    
    }
    .ask-questions-m {
      padding: 70px 15px 15px 15px;
    }
    .content h2 {
      margin-top: 30px;
    }
    .inner-box {
      padding-top: 30px;
    }
    .inner-box ul {
      flex-wrap: wrap;
    }
    .inner-box li {
      width: 100%;
      margin:  0 0 30px 0;
      text-align: center;
    }
    .inner-box li .btn {
      width: 100%;
      text-align: center;
      background: #e55a1d;
    }
     .inner-box li:last-child {      
      margin: 0;
    }
    .ask-questions-m .btn {
      background: #e55a1d;
      width: 100%;
      text-align: center;
      height: 40px;
      padding: 5px 0 0 0; 
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .ask-questions-m .icon {
      width: 15px;
      margin-right: 10px;
    }
    .content {
      width: 100%;
      text-align: left;
    } 
    .register, .register h4 {
      text-align: center;
    } 
    .register {
      margin-top: 30px;
    }
    .register h4 {
      font-size: 24px;
    }
    .register p {
      padding-top:10px;
    }
    .register .btn {
      width: 100%;
      margin-top: 15px;
    }

    footer {
      background: #052349;
    }
    footer .left {
      text-align: center;
      padding-bottom: 20px;
    }
    footer .left .logo {
      padding-top: 0;
      margin-bottom:20px;
    }
    footer .left ul {
      padding: 0;
      margin: 0;
    }
    footer .left ul li {
      background: #223d5e;
      height: 30px;
      color: #fff;
      margin-bottom: 10px;
      font-size: 14px;
    }
    footer .left ul li a { 
      color: #fff;
      font-size: 14px;
      display: block;
      padding-top:10px;
    }
    footer .m-copy-right {
      color: #fff;
      font-size: 12px;
      line-height: 18px;
      padding: 20px 0;
      text-align: center;
    }
    .footer-nav {
      flex-direction: column;
      padding-top:0;
    }
    .footer-nav li {
      float: none;
      margin-right: 0;
    }
}